<form method="post">
    <input type="text" name="Email" placeholder="Email" />
    <input type="password" name="Contrasenia" placeholder="Contraseña" />
    <button type="submit">Login</button>
</form>